* {
   margin: 0px;
   padding: 0px; 
}

body {
    background-color: azure;
    color: rgb(0, 0, 0);
}

.signup-form {
    width: 300px;
    padding: 20px;
    text-align: center;
    background: url(divbckground.jpg);
    border-radius: 50px;
    position: absolute;
    top: 30%;
    left: 40%;
}


.signup-form input {
    display: block;/*inputları alt alta sıralar*/
    text-align: center;
    width: 90%;
    height: 40px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.1);
}

.signup-form .btn {
background-color: rgba(160, 124, 124, 0.2);
color: rgb(0, 0, 0);
border-radius: 28px;
font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.signup-form .btn:hover {
    background-color: rgb(240, 255, 255, 0.5);
    font-size: large;
    transition: all 0.6s;
}