* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(bckground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-bar {
    background-color: #5f86a8;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;  /*Yan yana sıralamayı sağlar*/
    list-style: none;
}

.menu-bar ul li {
    width: 150px;
    margin: 15px; /*basliklar arasi boslugu ayarlar*/
}

.menu-bar ul li i {
    margin: 4px;
}

.menu-bar ul li a {
text-decoration: none; /*baslik altindaki cizgiyi kaldiri*/
color: #f2f2f2;
}

