* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(bckground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-bar {
    background-color: #5f86a8;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;  /*Yan yana sıralamayı sağlar*/
    list-style: none;
}

.menu-bar ul li {
    width: 150px;
    margin: 15px; /*basliklar arasi boslugu ayarlar*/
    background-color: #5f86a8;
    transition: all 0.7s;
}

.menu-bar ul li i {
    margin: 4px;
}

.menu-bar ul li a {
text-decoration: none; /*baslik altindaki cizgiyi kaldiri*/
color: #f2f2f2;
}

.menu-bar ul li:hover { /*active, bulunan sayfanin secili kalmasını saglar*/ 
    background: #c8e934; 
    border-radius: 10px;
}

.sub-menu-1 {
    display: none; /* !bir üst etikete gizlenmesi saglanir*/
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block; /* !fareyi getirince gorunur */
    position: absolute;
    margin-top: 0.79px;
    margin-left: -15px;
    font-size: 14px;
}

.menu-bar  ul li:hover .sub-menu-1 ul  {
display: block;/* !alt alta siralar*/
}


