* {
    padding: 0;
    margin: 0;
    background-color: #1B2429;
}

body {
    overflow-y: hidden; 
}

header ul li.icn-1 {
    position: absolute;
    right: 290px;
    list-style-type: none;
}

header ul li.icn-2 {
    position: absolute;
    right: 200px;
    list-style-type: none;
}

header ul li.icn-3 {
    position: absolute;
    right: 100px;
    list-style-type: none;
}

header ul li.icn-4 {
    position: absolute;
    right: 50px;
    list-style-type: none;
}

header {
    margin-top: 25px;
}


header ul li a {
    
    margin-left: 80%;
    list-style-type: none;
    text-decoration: none;
    color: #fff; 
}

img{
    margin-top: 150px;
    margin-left: 40%;
}

article input {
    margin-top: 50px;
    padding: 13px;
    margin-left: 400px;
    width: 700px;
    border-radius: 50px;
}

button.btn-1 {
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 70px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

button.btn-2 {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

article #icon-1 {
    position: absolute;
    top: 44%;
    left: 27%;
    color: grey;
    
}

article #icon-2 {
    position: absolute;
    top: 44%;
    right: 32%;
    color: grey;
}

article #icon-3 {
    position: absolute;
    top: 44%;
    right: 30%;
    color: #1f1f92;
}

article #icon-4 {
    position: absolute;
    top: 44%;
    right: 28%;
    color: #1f1f92;
}

button.btn-1:hover {
    border-color: white;
}

button.btn-2:hover {
    border-color: white;
}

article input:hover {
    background-color: #1B2430;
}

header ul li a:hover {
    text-decoration: underline;
}

footer ul li {
    max-height: 8px;
}

footer div.location p{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
}

footer ul li{
    background-color: #000;
}

footer ul li a {
    background-color: #000;
}

footer {
    color: grey;
    margin-top: 230px;
}


footer ul li a {
    color: grey;
    list-style: none;
    text-decoration: none;
}

footer ul li a.ftr-8 {
    position: absolute;
    top: 723px;
    right: 50px;
}

footer ul li a.ftr-7 {
    position: absolute;
    top: 723px;
    right: 120px;
}

footer ul li a.ftr-6 {
    position: absolute;
    top: 723px;
    right: 185px;
} 

footer ul li a.ftr-5 {
    position: absolute;
    top: 723px;
    right: 45%;
}

footer ul li a.ftr-4 {
    position: absolute;
    top: 723px;
    right: 1100px;
} 

footer ul li a.ftr-3 {
    position: absolute;
    top: 723px;
    right: 1260px;
}

footer ul li a.ftr-2 {
    position: absolute;
    top: 723px;
    right: 1340px;
}


footer ul li a.ftr-1 {
    position: absolute;
    top: 723px;
    right: 1420px;
}

footer ul li a:hover {
    text-decoration: underline;
}

hr {
    border-style: solid;
    border-width: 0.5px;
}

