* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
}

.post {
    width: 47%;
    overflow: hidden;
    background: #f1f1f1;
    float: left;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

.post img {
    height: 280px;
    width: 100%;
}

.post h1 {
    margin: 0; /*bulundan etiketi hareket ettirir*/
    padding-bottom: 7px;/*etiketin içindekini hareket ettirir*/
    color: rgb(105, 12, 12);
}

@media screen and (max-width:680px) {
    .post{
        width: 96%;
        margin: 2%;
    }
}

