* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background: #f0e4e4;
}

.social-media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-media div {
    display: inline; /*Yatay olarak siralanir*/
    font-size: 90px;
    padding: 21.7px;
}

.social-media a i {
    transition: all 0.8s;
    color: black;
}

.social-media .facebook a i:hover {
    color: #4267B2;
}

.social-media .instagram a i:hover {
    color: 	#9d143d;
}

.social-media .twitter a i:hover {
color: #1da1f2;
}

.social-media .google a i:hover {
    color: #d34c3d;
}

.social-media .youtube a i:hover {
    color: #fe0000;
}

.social-media a:hover >i {   /* uzerine gelindiginde ikonu buyutur scale() ne kadar buyucegını belırler rotate() ne kadar donecegını belırler*/
    transform: scale(1.3) rotate(360deg);
}



